{erl_opts, [
	debug_info,
	inline_list_funcs,
	warn_deprecated_function,
	warn_export_all,
	warn_export_vars,
	warn_obsolete_guard,
	warn_shadow_vars,
	warn_untyped_record,
	warn_unused_function,
	warn_unused_import,
	warnings_as_errors,
	{parse_transform, lager_transform},
	{native, o3}
]}.

{relx, [{release, { hcron , "0.1.0"}, [
		hcron,
		hcron_web,
		sasl
	]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},

        {overlay_vars, "config/vars.config"},
        {overlay, [
            {mkdir, "etc"},
            {mkdir, "bin"},
            {mkdir, "data/ring"},
            {mkdir, "log/sasl"},
            {copy, "./config/admin_bin", "bin/hcron-admin"},
            {copy, "./config/nodetool", "bin/nodetool"},
            {copy, "{{output_dir}}/releases/{{release_version}}/vm.args", "etc/vm.args"},

            {template, "./_build/default/lib/riak_core/priv/riak_core.schema", "share/schema/12-riak_core.schema"},
            {template, "./_build/default/lib/riak_sysmon/priv/riak_sysmon.schema", "lib/15-riak_sysmon.schema"},
            {template, "./_build/default/lib/eleveldb/priv/eleveldb.schema", "share/schema/21-leveldb.schema"},
            {template, "config/config.schema", "share/schema/22-bidsie.schema"}

        ]}
]}.

{plugins, [
    {rebar3_run, {git, "git://github.com/tsloughter/rebar3_run.git", {branch, "master"}}},
%    {rebar3_cuttlefish, {git, "git://github.com/tsloughter/rebar3_cuttlefish.git", {branch, "master"}}},
    {rebar3_erlydtl_plugin, {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}
]}.


{provider_hooks, [
%    {post, [{release, cuttlefish}]}
]}.

